<div class="container">

  <div>
    <nav class="top-bar row">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a>Brands</a>
          </h1>
        </li>
      </ul>
    </nav>
  </div>
  <br>
  <div class="row">

  <div class="large-2 columns">
    <ul class="side-nav">
      <li><a href="#/">Sessions</a></li>
      <li><a href="#/members">Members</a></li>
      <li><a href="#/kwickies">Kwickies</a></li>
      <li><a href="#/brands">Brands</a></li>
    </ul>
  </div>

  <div class="large-6 columns">

    <form ng-submit="submit()">
    <div class="row">

      <div class="large-12 columns">
        <label>Brand Name
          <input type="text" placeholder="Brand Name" name="BrandName" id="BrandName" ng-model="formDetails.BrandName"/>
        </label>
      </div>

    </div>

    <div class="row">

      <div class="large-12 columns">
        <label>Logo URL
          <input type="text" placeholder="Logo URL" name="LogoUrl" id="LogoUrl" ng-model="formDetails.LogoUrl"/>
        </label>
      </div>

    </div>

    <div class="row">

      <div class="large-12 columns">
        <label>Web URL
          <input type="text" placeholder="Web URl" name="WebUrl" id="WebUrl" ng-model="formDetails.WebUrl"/>
        </label>
      </div>

    </div>

    <div class="row">

      <div class="large-12 columns">
        <label>Color (Hex Value)
          <input type="text" placeholder="Color" name="Color" id="Color" ng-model="formDetails.Color"/>
        </label>
      </div>

    </div>

    <div class="row">

      <!--<div class="large-12 columns">
        <label>Brand Cover Image
          <input type="text" placeholder="Brand Cover Image" name="BrandCoverImage" id="BrandCoverImage" ng-model="formDetails.BrandCoverImage"/>
        </label>
      </div>-->

    </div>

    <div class="row">

      <!--<div class="large-12 columns">
        <label>BMC Invite Link
          <input type="text" placeholder="BMC Invite Link" name="BMCInviteLink" id="BMCInviteLink" ng-model="formDetails.BMCInviteLink"/>
        </label>
      </div>-->

    </div>



    <div class="row">

      <div class="large-6 columns">
        <input class="button extended" type="submit" id="submit" value="Submit" />
      </div>

    </div>

  </form>

    </div>

    <div class="large-4 columns">

      <div style="background: url('{{formDetails.CoverImage}}') no-repeat center; width: 100%; height: 200px; float: left;">

        <div class="" style="    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;">
          <div class="" style="height: 125px; float: left;">
            <img ng-src="{{formDetails.LogoUrl}}" style="    float: left;
    height: 125px;
    margin-top: 35px;
    border-radius: 65px;
    margin-left: 20px;
    border: 1px solid white;">
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
