<div class="container">

  <div>
    <nav class="top-bar row">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a>Kwickies</a>
          </h1>
        </li>
      </ul>
    </nav>
  </div>
  <br>
  <div class="row">

  <div class="large-2 columns">
    <ul class="side-nav">
      <li><a href="#/">Sessions</a></li>
      <li><a href="#/members">Members</a></li>
      <li><a href="#/kwickies">Kwickies</a></li>
      <li><a href="#/brands">Brands</a></li>
    </ul>
  </div>

  <div class="large-10 columns">

    <form ng-submit="submit()">

    <select ng-model="formDetails.answered" name="answered">
      <option value="true">answered</option>
      <option value="false">asked</option>
    </select>

    <div class="row">

      <div class="large-6 columns">
        <input class="button extended" type="submit" id="submit" value="Submit" />
      </div>

    </div>

    </form>

      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Question Video ID</th>
            <th>Answer Video ID</th>
            <th>Kwickie Video ID</th>
            <th>Publish Date</th>
            <th>Created Date</th>
            <th>Status</th>
            <th>Featured</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="kwickies in kwickies">
            <td>{{kwickies.questionVideoId}}</td>
            <td>{{kwickies.answerVideoId}}</td>
            <td>{{kwickies.kwickieVideoId}}</td>
            <td>{{kwickies.publishDate | limitTo: 10}}</td>
            <td>{{kwickies.createdDate}}</td>
            <td>{{kwickies.status}}</td>
            <td>{{kwickies.featured}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
